[user]
	email = yeti-or@yandex-team.ru
	name = Vasiliy Loginevskiy
[alias]
    show-graph = log --graph --abbrev-commit --pretty=oneline
    logG = log --graph --oneline --decorate
    st = status -uno
    b = rev-parse --abbrev-ref HEAD
    stu = ls-files -o --exclude-standard
[color]
    ui = true
[core]
	excludesfile = ~/.gitexcludes
[diff "localizablestrings"]
    textconv = "iconv -f utf-16 -t utf-8"
